@model DogWash.Models.appointment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apptime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apptime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.washtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.washtype)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
