@model DogWash.Models.appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apptime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apptime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.washtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.washtype)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
